body{
font-family:sans-serif;
}
.moduleFrame {
background:transparent url(../images/brwhite.png) no-repeat scroll right bottom;
border:medium none;
width:30%;
padding:0pt 0pt 5px;
margin:0px 0px 0px 0px;
width:auto;
}
.module {
background:transparent url(../images/blwhite.png) no-repeat scroll left bottom;
border:0pt none;
margin:8px 3px;
}
.moduleContent {
background:transparent none no-repeat scroll 0%;
border:medium none;
margin:0pt 3px;
overflow:hidden;
}
.moduleContent {
border-top:1px solid #DDDDDD;

}
.moduleHeaderContainer {
background:transparent url(../images/tlwhite.png) no-repeat scroll left top;

}
.moduleHeder {
background:transparent url(../images/trwhite.png) no-repeat scroll right top;
border:medium none;
color:#666666;
padding:2px 3px 2px 5px;
width:auto;
}
.moduleHeder h1{
color:#4d6480;
vertical-align:text-top;

}
.input {
	background:transparent none repeat scroll 0% 50%;
	width:250px;
	height:26px;
	border:thin solid #999;
	padding:4px 3px 3px 3px;
	font-size:12px;
	color:#333;
}

.input:focus{
	border:thin solid #B5CAE3;
}

dt{
float:left;
width:180px;
text-align:right;
padding-right:20px;
margin:5px;
font-weight:normal !important;
}
dd{
float:left;
margin:5px;
}
label{
font-size:14px;
font-family:sans-serif;

color:#222;
}
h1{
font-size:18px;
}

#header{
    background: #fff url(../images/deskeralogo.png) no-repeat;
	height:50px;
padding-left:20px;
}

.error,
.notice, 
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd;font-size:12px; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }
