a.button_blue{
background: transparent url('../images/square-blue-left.gif') no-repeat top left;
}

a.button_red{
background: transparent url('../images/square-red-left.gif') no-repeat top left;
}
a.button_orange{
background: transparent url('../images/square-orange-left.gif') no-repeat top left;
}
a.button_grey{
background: transparent url('../images/square-gray-left.gif') no-repeat top left;
}

a.button_blue span{
background: transparent url('../images/square-blue-right.gif') no-repeat top right;
}

a.button_red span{
background: transparent url('../images/square-red-right.gif') no-repeat top right;
}

a.button_orange span{
background: transparent url('../images/square-orange-right.gif') no-repeat top right;
}

a.button_grey span{
background: transparent url('../images/square-gray-right.gif') no-repeat top right;
}

a.squarebutton{
display: block;
float: left;
font: normal 12px Arial; /* Change 12px as desired */
line-height: 15px; /* This value + 4px + 4px (top and bottom padding of SPAN) must equal height of button background (default is 23px) */
height: 23px; /* Height of button background height */
padding-left: 9px; /* Width of left menu image */
text-decoration: none;
}

a:link.squarebutton, a:visited.squarebutton, a:active.squarebutton{
color: #494949; /*button text color*/
}

a.squarebutton span{
display: block;
padding: 4px 9px 4px 0; /*Set 9px below to match value of 'padding-left' value above*/
}

a.squarebutton:hover{ /* Hover state CSS */
background-position: bottom left;
}

a.squarebutton:hover span{ /* Hover state CSS */
background-position: bottom right;
color: black;
}

.buttonwrapper{ /* Container you can use to surround a CSS button to clear float */
overflow: hidden; /*See: http://www.quirksmode.org/css/clearing.html */
width: 100%;
cursor:pointer;
}




